<%
  files = Kit::Doc::Services::Utils.cleanup_files(list: object.files)
  if files.size == 1
    url = config[:source_url].call(path: files[0][0], line: files[0][1])
  else
    url = nil
  end

  object_name      = object.title.split('::')[-1]
  object_full_name = object.title
%>
<small class="app-vsn"><b><%= config[:project] %></b> <%= config[:current_version_display] %></small>

<h1 class='modules-header'>
  <div style='flex-grow: 1;'>

    <span class='title module-name'><%= object_name %></span>
    <span class='object-type'><%= object.type %></span>
    <% if object_full_name != object_name %>
      <div class='module-full-name'><%= object_full_name %></div>
    <% end %>
  </div>

  <% if url %>
    <a href="<%= url %>" target='_blank' title="View Source" class="view-source" rel="help">
      <span class="icon-code" aria-hidden="true"></span>
      <span class="sr-only">View Source</span>
    </a>
  <% end %>
</h1>