<%
  item      = @item
  owner     = @owner

  anchor    = anchor_for(item)
  link_href = url_for(owner, anchor)

  files     = item.files.first || []
  src_href  = config[:source_url].call(path: files[0], line: files[1])

  data_attr_list = Kit::Doc::Services::Properties.object_html_data_properties({
    item:            item,
    verifier_runner: ->(el) { run_verifier(el) },
  })

  aliases   = item.aliases
%>

<section class="detail" id="<%= anchor %>" <%= data_attr_list.map { |k, v| "#{k}=\"#{v}\"" }.join(' ') %>>

  <div class="detail-header">

    <a href="<%= link_href %>" class="detail-link" title="Link to this method">
      <span class="icon-link" aria-hidden="true"></span>
      <span class="sr-only">Link to this method</span>
    </a>

    <h1 class="signature">
      <% @signature_item = item %>
      <%= erb(:_signature) %>
    </h1>

    <a href="<%= src_href %>" target='_blank' rel="help" title="View Source" class='source-link'>
      <span class="icon-code" aria-hidden="true"></span>
      <span class="sr-only">View Source</span>
    </a>

    <% @attributes_item = item %>
    <%= erb(:_attributes_list) %>

    <div class="specs" style='opacity: 1; margin-left: 15px; font-size: 0.8em; color: #777;'>
      <!-- TODO: add contracts here when we can generate documentation from them -->

      <% if aliases.size > 0 %>
        <span>Aliases:<span>
        <span style='color: #d2d2d2;'><%= aliases.map { |o| "#{ (o.scope == :class) ? '.' : '#' }#{ o.name }" }.join(', ') %></span>
      <% end %>

      <% if owner != item.namespace %>
        <pre>
          Originally defined in: <%= linkify item, owner.relative_path(item.namespace) %>
        </pre>
      <% end %>
    </div>

  </div>

  <section class="detail-body">
    <%= yieldall object: item %>
  </section>

</section>
