<%
  synopsis     = docstring_summary(@item)
  deprecated   = @item.has_tag?(:deprecated)
  private_api  = @item.has_tag?(:api) && @item.tag(:api).text == 'private'

  summary_row_classes = []
  if deprecated
    summary_row_classes << 'attribute-deprecated'
  end
  if private_api
    summary_row_classes << 'attribute-private-api'
  end

  link_href  = anchor_for(@item)
  link_title = "#{ h(@item.name) } (#{ @item.type })"
%>

<div class="summary-row <%= summary_row_classes.join(' ') %>">
  <a href="<%= link_href %>" title="<%= link_title %>">
    <div class="summary-signature">
      <span class="name"><%= @item.name %></span>

      <span class='attributes-list'>
        <% if deprecated %>
          <span class="attribute-container" data-attribute-type="api" data-attribute-type="deprecated"><span class='attribute-type'>API</span><span class='attribute-value'>Deprecated</span></span>
        <% end %>
        <% if private_api %>
          <span class="attribute-container" data-attribute-type="api" data-attribute-type="private"><span class='attribute-type'>API</span><span class='attribute-value'>Private</span></span>
        <% end %>

      </span>
    </div>

    <div class="summary-synopsis"><%= htmlify_line(synopsis) %></div>
  </a>
</div>