<% object.inheritance_tree(true)[1..-1].each do |superclass| %>
  <%
     next if superclass.is_a?(YARD::CodeObjects::Proxy)
     next if options.embed_mixins.size > 0 && options.embed_mixins_match?(superclass) != false
     list = prune_method_listing(superclass.meths(:included => false, :inherited => false))
     list.reject! {|m| object.child(:scope => m.scope, :name => m.name) != nil }
     list.reject! {|m| m.is_alias? || m.is_attribute? }
     next if list.size == 0
     list = list.sort_by {|o| o.name.to_s }
  %>

  <div class="summary-inherited-methods-<%= superclass.name %> summary summary-inherited">
    <h4><%= superclass.type == :class ? 'Inherited' : 'Included' %> from <%= linkify superclass %></h4>

    <div class="summary-row">
      <% list.each do |item| %>
        <%
           name = item.name(true)
           name = name.gsub(/^#/,'') if superclass.type == :module && object.class_mixins.include?(superclass)
        %>

        <div class="summary-row">
          <div class="summary-signature">
            - <%= linkify(item, name) %>

            <% if (deprecated = item.has_tag?(:deprecated)) %>
              <span class="deprecated" title="Deprecated">deprecated</span>
            <% end %>
          </div>
          <% synopsis = item.has_tag?(:deprecated) ? item.tag(:deprecated).text : docstring_summary(item) %>
          <div class="summary-synopsis"><%= htmlify_line(synopsis) %></div>
        </div>

      <% end %>
    </div>
  </div>

<% end %>