<%
  item         = @item
  owner        = object

  synopsis     = Yard::Kit::Services::Docstring.summary(object: item)

  is_alias     = false
  if !item.is_a?(YARD::CodeObjects::ConstantObject)
    alias_data          = Yard::Kit::Services::Methods.get_alias_target(method: item)
    is_alias            = alias_data[:is_alias]
    alias_target_method = alias_data[:alias_target_method]
  end

  link_title = item.is_a?(YARD::CodeObjects::MethodObject) ? "#{ h(item.name(true)) } (#{ item.scope } #{ item.type })" : "#{ h(item.name) } (#{ item.type })"

  if item.is_a?(::YARD::CodeObjects::ConstantObject)
    link_href = anchor_for(item)
  else
    link_target_method = alias_target_method || item
    link_target_object = alias_target_method ? alias_target_method.namespace : owner

    anchor      = anchor_for(link_target_method)
    link_href   = url_for(link_target_object, anchor)
  end

  container_classes = Yard::Kit::Services::Methods.attributes_container_classes(item: item)
%>

<div class="summary-row <%= container_classes.join(' ') %>" data-object-type="<%= item.type %>">
  <a href="<%= link_href %>" title="<%= link_title %>">
    <div class="summary-signature">
      <% @signature_item = item %>
      <%= erb(:_signature) %>

      <% if is_alias %>
        <span>&#x21d2;</span>
        <% if alias_target_method %>
          <% @signature_item = alias_target_method %>
          <%= erb(:_signature) %>
        <% else %>
            Unknown
        <% end %>
      <% end %>

      <% @attributes_item = item %>
      <%= erb(:_attributes_list) %>
    </div>

    <% if !is_alias %>
      <div class="summary-synopsis"><%= htmlify_line(synopsis) %></div>
    <% end %>
  </a>
</div>

<%
<<-COMMENT
%>
  <% if object != item.namespace %>
    <span class="note title not_defined_here">
      <%= item.namespace.type == :class ? 'inherited' : (item.scope == :class ? 'extended' : 'included') %>
      from <%= linkify item, object.relative_path(item.namespace) %>
    </span>
  <% end %>
<%
COMMENT
%>
