<meta charset="<%= charset %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="generator" content="Yard v<%= YARD::VERSION %>">
<meta name="project" content="<%= config[:project] %> v<%= config[:version] %>">
<% if config[:authors].size > 0 %>
  <meta name="author" content="<%= config[:authors].join(', ') %>">
<% end %>
<title><%= @page_title %> — <%= config[:project] %> v<%= config[:version] %></title>

<link rel="stylesheet" href="<%= mtime_url("assets/css/app.css") %>" />

<script src="<%= mtime_url("sidebar_items.js") %>"></script>
<script src="<%= mtime_url("docs_config.js") %>"></script>
<script async src="<%= mtime_url("assets/js/app.js") %>"></script>
