<%
  # Note: seems that including Helper in layout/html/setup.rb does not do the trick.
  config = Yard::Kit::Config.config
%>

<meta charset="<%= charset %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="generator" content="Yard v<%= YARD::VERSION %>">
<meta name="project" content="<%= config[:project] %> v<%= config[:version] %>">
<% if config[:authors].size > 0 %>
  <meta name="author" content="<%= config[:authors].join(', ') %>">
<% end %>
<title><%= @page_title %> — <%= config[:project] %> v<%= config[:version] %></title>

<!--
<% stylesheets.each do |stylesheet| %>
  <link rel="stylesheet" href="<%= mtime_url(stylesheet) %>" type="text/css" />
<% end %>
<%#= erb :script_setup %>
<% javascripts.each do |javascript| %>
  <script type="text/javascript" charset="utf-8" src="<%= mtime_url(javascript) %>"></script>
<% end %>
-->

<link rel="stylesheet" href="<%= mtime_url("assets/css/hexdoc_theme.css") %>" />
<link rel="stylesheet" href="<%= mtime_url("assets/css/hexdoc_theme_kit.css") %>" />

<script src="<%= mtime_url("sidebar_items.js") %>"></script>
<script src="<%= mtime_url("docs_config.js") %>"></script>
<script async src="<%= mtime_url("assets/js/hexdoc_app.js") %>"></script>
