<%
  nodes  = { modules: [], }
%>

<button class="sidebar-button sidebar-toggle">
  <span class="icon-menu" title="Collapse/expand sidebar"></span>
</button>

<section class="sidebar">
  <form class="sidebar-search" action="<%= url_for_main.gsub('index.html', '') %>search.html">
    <button type="submit" class="search-button">
      <span class="icon-search" aria-hidden="true"></span>
    </button>
    <button type="button" tabindex="-1" class="search-close-button">
      <span class="icon-cross" title="Cancel search"></span>
    </button>
    <label class="search-label">
      <input name="q" type="text" id="search-list" class="search-input" placeholder="Search..." aria-label="Search" autocomplete="off" />
    </label>
  </form>

  <div class="autocomplete">
    <div class="autocomplete-results">
    </div>
  </div>

  <% url = url_for_file("index.html") %>
  <div class="sidebar-header">
    <% if config[:logo] %>
      <a href="<%= url %>">
        <% logo_url = config[:logo].start_with?('http') ? config[:logo] : url_for_file(config[:logo]) %>
        <img src="<%= logo_url %>" alt="<%= config[:project] %>" class="sidebar-projectImage">
      </a>
    <% end %>
    <div class="sidebar-projectDetails">
      <a href="<%= url %>" class="sidebar-projectName">
        <%= config[:project] %>
      </a>
      <h2 class="sidebar-projectVersion">
        v<%= config[:version] %>
      </h2>
    </div>
  </div>

  <ul class="sidebar-listNav">
    <li>
      <a id="extras-list" href="#full-list">
        <%= config[:extra_section] || "Extras" %>
      </a>
    </li>
    <% if nodes[:modules] %>
      <li>
        <a id="modules-list" href="#full-list">
          Modules
        </a>
      </li>
    <% end %>
  </ul>

  <div class="gradient"></div>
  <ul id="full-list" class="sidebar-fullList"></ul>
</section>
