<!DOCTYPE html>
<html>
<head>
  <title>Kit auth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "kit/auth/application", media: "all" %>
  <%= javascript_include_tag "kit/auth/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
