<!DOCTYPE html>
<html>
  <head>
    <meta charset="<%= charset %>">
    <meta name="generator"     content="Yard v<%= YARD::VERSION %>">
    <meta http-equiv="refresh" content="0; url=<%= config[:main_redirect_url] %>">
    <meta name="robots"        content="noindex">
    <title><%= config[:project] %> <%= config[:version_display] %> - Documentation</title>
  </head>
  <body></body>
</html>